body {
    background-color: #f3f3f3;
}

.tab-content > .active.white {
    /*border: 0;
    border-bottom: 2px;
    background-color: white;
    padding: 1em;

    -webkit-box-shadow: 0 0 5px #dedede;
    -moz-box-shadow: 0 0 5px #dedede;
    box-shadow: 0 0 5px #dedede;*/
}

.container-white {
    border: 0;
    border-bottom: 2px;
    background-color: white;
    padding: 1em;

    -webkit-box-shadow: 0 0 5px #dedede;
    -moz-box-shadow: 0 0 5px #dedede;
    box-shadow: 0 0 5px #dedede;
}

p.question-description {
    color: #848991;
}

div.statistics {
    border-top: solid gray 1px;
    padding: .8em;
}

div.statistics span {
    margin-left: 1em;
}

div.statistics span:first-child {
    margin-left: 0;
}

.text-star {
    color: #dfaa63;
}

.space-top {
    margin-top: 2em;
}

.question-space > div {
    margin-bottom: 1em;
}

h1.results {
    margin-top: 0.2em;
    margin-bottom: 0.8em;
    font-size: 2em;
}

.user-statistics span {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
}
.user-statistics {
    border-bottom: 2px solid #3498DB;
}

.user-statistics > div {
    border-left: 2px solid #3498DB;
    margin: 1em 0;
}

.user-statistics > div:first-child {
    border-left: 0;
}

.small-padding-horizontal {
    padding-left: 5px;
    padding-right: 5px;
}

.no-padding-horizontal {
    padding: 0;
}

.user-details {
    margin-top: 2em;
}
.user-details .user-details-line {
    margin-bottom: 1em;
    clear: both;
}
.profile-questions-panel {
    background: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-left: 3px solid #3498DB;
}
.question-details-panel {
    background: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

}
.question-details-panel .container-white {
    margin-bottom: 2em;
}
.question-details-panel .answer {
    margin-left: 2em;
}