.list-group-item-text{
    position: relative;
    height: 3.8em; /* exactly three lines */
    overflow: hidden;
}
.list-group-item-text:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.table{

    overflow:scroll;
}

.panel-height {
  height: 225px;
}

tr {
    max-width: 80%;
}

td {
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}