.list-group-item-text{
    position: relative;
    height: 3.8em; /* exactly three lines */
    overflow: hidden;
}
.list-group-item-text:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.question-search > div {
    margin-bottom: 1em;
}

h1.search-results {
    margin-top: 0.2em;
    margin-bottom: 0.8em;
    font-size: 2em;
}

h1.search-results > span.search-string {
    color: #848991;
}